<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/firstPage.css">
    <link rel="stylesheet" href="/stylesheets/navibar.css">
    <link rel="stylesheet" href="/stylesheets/writeSeed.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/bootstrap-5.3.0-alpha3-dist/js/bootstrap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js"></script>
    <script src="/javascripts/barchart.js"></script>
    <script defer src="/javascripts/navibar.js"></script>
    <script defer src="/javascripts/fullScreenScroll.js"></script>
    <script defer src="/javascripts/firstPage.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css">

    <title>SWAN</title>
</head>

<body>
  <!--네비바 버튼-------------------------------------------------------->
  <button class="btnNaviBar">
    S<br>W<br>A<br>N
  </button>
  <div class="navModal">
    <div>
      
    </div>
    <div class="main-nav">
      <!-- user brief info -->
      <div class="user-info" id="navTop">
          <div class="user-infoImg">
              <img src="/images/profile.jpg" alt="user image" style="width: 100%;">
          </div>
          <div class="user-infoStat">
              <p id="userName"><%= userName %></p>
              <p id="userIntro">Believe in yourself</p>
          </div>
      </div>
      <!-- END user brief unfo -->

      <!-- Recent Seeds-->
      <div class="divSearch">
          <form action="">
              <input id="searchBox" type="text">
              <button class="btnSearch"><img class="imgSearch" src="images/button_search.png" alt="search"></button>
          </form>
      </div>
      <div class="divRecentSeed">
          <div class="divRecentSeedIn">
              <button class="btnRecentSeed"><img class="imgToggle" src="images/button_down.png" alt="down">&nbsp;Recent&nbsp;</button>
          </div>
      </div>
      <div class="divRecentSeedOpen">
          <div class="divRecentContent">
            <% [...userContent].reverse().forEach((item,index)=>{ %>
              <% if(index < 3){ %>
                <%- include('navContent',{userItem:item}) %>
              <% } %>
            <% }) %>
          </div>
      </div>
      <!-- END Recent Seeds -->

      <!-- headline toggle -->
      <button class="add-title">Add Goal</button>
      <div class="headline-info" id="headline">
        <% [...userContent].reverse().forEach(function(item) { %>
          <%- include('navContent',{userItem:item}) %>
        <% }); %>
        </div class="btntoTop">
      <!-- END headline toggle -->
      <div class="btntoTop">
        <a href="#navTop">Top</a>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------->
<div id="fullpage">
  <div class="whole-layout section">
  <div id="pageHeader">
    <h1 class="swan-logo">SWAN</h1>
    <div class="logout-btn">
        <button class="btnLogout" onclick="alert('logout!')"><a href="/logout">Logout</a></button>
    </div>
  </div>
  <div id="tabs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3" id="row-calendar">
                <!-- <iframe src="./calendar/calendar.html" frameborder="0" class="mycal" width="480" height="480"></iframe> -->
                <%- include('calendar') %>
            </div>
            <div class="col-6 col-md-4 col-lg-3" id="row-chart">
                <canvas id="myChart" style="z-index: 1000;" width="480" height="480"></canvas>
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js">
              
            </script>
            </div>
        </div>
    </div>
</div>

<div class="downpage section">
    <div class="container-fluid">
        <div class="row" id="images-container" data-masonry='{"percentPosition": true}'><!--row class에 Masonry 추가-->
          <% var i=0; %>
          <% images.forEach(img=>{ %>
            <% if(i < 10){ %>
            <div class="col-6 col-md-4 col-lg-3">
              <div class="card">
                <img src="<%= img.feedImgPath %>" class="card-img-top">
              </div>
            </div>
            <% i++;} %>
          <% }) %>
          
          
      </div><!--row closing tag-->
    </div><!--container-fluid closing tag-->
</div>
</div>
</div>
<!--Masonry 플러그인-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.js"></script>
</body>
</html>